@model IEnumerable<Voluntis.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="ligne-@item.ID">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                <a class="suppr" href="#" data-id="@item.ID"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section SectionScripts{ 
    <script>    
        $('a.suppr').click(function () {
            var id = $(this).data('id');
            //console.log(id);
            $.ajax({
                method: "POST",
                url: "@Url.Action("delete")",
                data: { id: id },
                success: function (obj) {
                    alert("La catégorie " + obj.name + " a été supprimée.");
                    $("#ligne-" + id).fadeOut();
                },
                error: function (err) {
                    alert(err.Message);
                }
            });
            return false;
        });
    </script>
}